{% extends "base.html.twig" %}
{% block title %}Giveaway{% endblock %}

{% block body %}
    <div class="container">
    <h3>Admin</h3>
        <div id="admin">
        <div  v-if="giveaways && giveaways.length">
            <input type="text" lazy.v-model="email" class="form-control">
        </div>


        <div  v-if="giveaways && giveaways.length">

            <ul class="pagination" v-if="sumPages > 0">
                <li v-for="page in pages" v-bind:class="[pageItemClass, (page === listPage) ? activeClass : '']">
                    <a class="page-link" @click="pagination(page)">${page}</a>
                </li>
            </ul>

            <table  class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Post</th>
                    <th class="text-center">Comments</th>
                    <th class="text-center">Likes</th>
                    <th class="text-center">Vaucher</th>
                    <th class="text-center">Parced Comments</th>
                    <th class="text-center">Options</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">Buttons</th>
                </tr>
                </thead>
                <tbody>

                <template v-for="(row, index) in giveaways.slice((listPage-1)*20,listPage*20)" :key="index" :row="row">
                    <tr>
                        <td class="text-center">${row.id}</td>
                        <td class="text-center">${row.path}</td>
                        <td class="text-center">${row.code}</td>
                        <td class="text-center">${row.comments}</td>
                        <td class="text-center">${row.likes}</td>
                        <td class="text-center">${row.vaucher}</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">${row.user_id}</td>
                        <td class="text-right">
                            <button @click="editGiveaway(row.id,index)" class="btn btn-success btn-sm">Edit</button>
                            <button @click="removeGiveaway(row.id,index)" class="btn btn-danger btn-sm">Remove</button>
                        </td>


                    </tr>

                </template>
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/build/admin.js?2"></script>
{%  endblock %}