<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}{% endblock %}
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="/build/style.css?1"/>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Left Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Left Link 2</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="float-right" href="{{ path('premium') }}"><button class="btn btn-default mr-2">Premium</button></a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block javascripts %}{% endblock %}
</html>
