{% extends "baseEmail.html.twig" %}
{% block body %}
    <h3>Comments scraping start</h3>

    <p> giveaway = {{ giveaway }} <a href="https://giveaway.endemic.ru/giveaway/{{ giveaway }}">Link</a></p>
{% endblock %}