{% extends "baseEmail.html.twig" %}
{% block body %}

    <h3>Start Giveaway</h3>

    <p> giveaway = {{ giveaway }} <a href="https://giveaway.endemic.ru/giveaway/{{ giveaway }}">Link</a></p>
    <p> options = {{ options }}</p>
{% endblock %}