{% extends "baseEmail.html.twig" %}
{% block body %}
    <h3>Complete choose winner</h3>

    <p> giveaway = {{ giveaway }} <a href="https://giveaway.endemic.ru/giveaway/{{ giveaway }}">Link</a></p>
    <p> winner = {{ winner }}</p>
{% endblock %}