{% extends "baseEmail.html.twig" %}
{% block body %}
    <h3>Comments scraping complete</h3>

    <p> giveaway = {{ giveaway }} <a href="https://giveaway.endemic.ru/giveaway/{{ giveaway }}">Link</a></p>
    <p> Comments scraped = {{ counter }}</p>
{% endblock %}