{% extends "base.html.twig" %}
{% block title %}Giveaway{% endblock %}
{% block meta %}
    <meta name="code" content="{{ post }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-7">
                {% if winner == '' %}

                    <h3 class="font-weight-light text-center mt-5 pt-5"> Wait for giveaway end</h3>

                {% else %}
                <h3 class="text-center mb-3">The Winner is</h3>
                <div class="col-8 m-auto instagram-winner">

                    <div class="row">
                        <div class="col-12 first-row-gradient">
                            <div class="img-comment-account float-right">
                                <img src="{{ comment_profile_pic }}" class="rounded-circle h-100 ">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="font-weight-light">{{ winner }}</h4>
                            <p class="font-weight-light">{{ comment }}</p>
                            <p class="font-weight-light float-right small">{{ created }}</p>
                        </div>
                    </div>


                </div>
                {% endif %}



            </div>
            <div class="col-5">
                <div class="instagram-widget">
                    <div class="profile-data  p-2">
                        <!-- profile photo -->
                        <div class="img-account float-left">
                            <img src="{{ profile_pic }}"class="rounded-circle h-100">
                        </div>

                        <!-- dropdown call icon -->
                        <div class="profile-button float-right h-100">
                            <div class="row h-100">
                                <div class="col-12 my-auto">
                                    <a class="" href="https://ww.instagram.com/{{ owner }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <button class="btn btn-primary btn-sm">View profile</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- message -->
                        <div class="profile-text-data float-left h-100 pl-2">
                            <div class="row h-100">
                                <div class="col-12 my-auto">
                                    <p class="pb-0 mb-0"><strong>{{ owner }}</strong></p>
                                    <small class="text-muted">{{ location }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="{{ image_src }}">
                    </div>
                    <div class="under-image p-2">
                        <div class="caption">
                            <p class=""><b>{{ likes }}</b> likes <br><b>{{ comments }}</b> comments </p>
                            <p class="small">{{ text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/build/giveaway.js"></script>
{%  endblock %}