{%  extends "base.html.twig"%}
{% block title %}
    Index
{% endblock %}
{% block body %}
    <div class="container h-100" id="main">
        <div class="row">
            <div class="col-12 text-center">
              <img src="/images/index-people.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1>GiveAway Winner Picker</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                <h5>Instagram or Youtube link:</h5>
            </div>
            <div class="col-8">
                <template>
                    <input type="hidden" ref="csrf_token_giveaway" data-value="{{ csrf_token('csrf-start-giveaway') }}">
                    <div class="d-table-cell w-75 pr-2" :class="{fullwidth: !isShowPremiumInput}">
                        <input type="text" class="form-control" placeholder="Post code / Full url" v-model="code" @input="getPostData()">
                    </div>
                    <div class="d-table-cell w-25 pr-2" :class="{hidden: !isShowPremiumInput}">
                        <input type="text" class="form-control" placeholder="voucher" v-model.lazy="voucher" :class="{hidden: !isShowPremiumInput}">
                    </div>
                    <!--<div class="d-table-cell align-middle mr-2">
                        <button class="btn btn-success mr-2" @click="startGiveaway">Giveaway!</button>
                    </div>-->
                    <div class="d-table-cell align-middle">
                        <button class="btn btn-primary mr-2 float-right" @click="showVoucherInput"  :class="{btnsuccess: isShowPremiumInput}">voucher</button>
                    </div>
                </template>
            </div>
        </div>
        <template v-if="postExist">
            <div class="row">
                <div class="col-4">&nbsp;</div>
                <div class="col-8">&nbsp;<span :class="{hidden: !likes}">Likes: ${ likes }, comments: ${comments}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-7 text-center">
                    <ul class="list-unstyled ml-4 mb-4 text-left">
                        <li class="position-relative mb-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="duplicates">
                                <label class="custom-control-label" for="customCheck1">Remove duplicates</label>
                            </div>
                        </li>
                        <li class="option-premium position-relative mb-2" :class="{premiumicon: !premium}">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" :disabled="!premium" v-model="allcomments">
                                <label class="custom-control-label" for="customCheck2">Process more then 1000 comments</label>
                            </div>
                        </li>
                        <li class="option-premium position-relative mb-2"  :class="{premiumicon: !premium}">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" :disabled="!premium" v-model="repost">
                                <label class="custom-control-label" for="customCheck3">Winner must repost the giveaway post</label>
                            </div>
                        </li>
                        <li class="option-premium position-relative mb-2" :class="{premiumicon: !premium}">
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck4" :disabled="!premium">
                                <label class="custom-control-label" for="customCheck4">Winner must follow these profiles to enter</label>
                            </div>
                            <input class="form-control" v-model.lazy="follow" placeholder="Separated by comma, example: @YourProfile, @AnotherProfile" :disabled="!premium">
                        </li>
                        <li class="option-premium position-relative mb-2" :class="{premiumicon: !premium}">
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck5" :disabled="!premium">
                                <label class="custom-control-label" for="customCheck5">Winner must include a phrase in the comment</label>
                            </div>
                            <input class="form-control" v-model.lazy="phrase" placeholder="E.g. #PLT" :disabled="!premium">
                        </li>
                    </ul>
                    <div class="text-center" v-if="giveawayPath">
                        <a class="h5" :href="'https://giveaway.endemic.ru/giveaway/'+giveawayPath">https://giveaway.endemic.ru/giveaway/${giveawayPath}</a>
                    </div>

                    <button class="btn btn-primary btn-lg border-0 button-gradient text-center" :disabled="submit" @click="startGiveaway()" v-if="!giveawayPath">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true" v-if="submit"></i> Submit
                    </button>
                </div>
                <!-- IG Post caption -->
                <div class="col-5">
                    <div class="instagram-widget">
                        <div class="profile-data  p-2">
                            <!-- profile photo -->
                            <div class="img-account float-left">
                                <img v-bind:src="profile_img"class="rounded-circle h-100">
                            </div>

                            <!-- dropdown call icon -->
                            <div class="profile-button float-right h-100">
                                <div class="row h-100">
                                    <div class="col-12 my-auto">
                                        <a class="" v-bind:href="profile_url" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <button class="btn btn-primary btn-sm">View profile</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- message -->
                            <div class="profile-text-data float-left h-100 pl-2">
                                <div class="row h-100">
                                    <div class="col-12 my-auto">
                                        <p class="pb-0 mb-0"><strong>${username}</strong></p>
                                        <small class="text-muted">${location}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="image">
                            <img v-bind:src="image" class="img-fluid">
                        </div>
                        <div class="under-image p-2">
                            <div class="caption">
                                <p class=""><b>${ likes }</b> likes <br><b>${comments}</b> comments </p>
                                <p class="small">${caption}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/build/app.js?3"></script>
{%  endblock %}
