{% extends "base.html.twig" %}
{% block title %}Giveaway{% endblock %}

{% block body %}
    <div class="container" id="billing">
    <h3>Premium</h3>

        <button id="show-modal" @click="showModal = true">Show Modal</button>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">


            <div slot="body" class="panel panel-default credit-card-box">
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div id="card-number" class="border rounded w-100 p-2" :class="{ 'uk-form-danger': cardNumberError }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <!--<input
                                            id="card-expiry"
                                            type="tel"
                                            class="form-control"
                                            name="cardExpiry"
                                            placeholder="MM / YY"
                                            autocomplete="cc-exp"
                                            required
                                    />-->
                                    <div id="card-expiry" class="border rounded w-100 p-2" :class="{ 'uk-form-danger': cardExpiryError }"></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV CODE</label>
                                    <div id="card-cvc" class="border rounded w-100 p-2" :class="{ 'uk-form-danger': cardCvcError }"></div>
                                    <!--<input
                                            id="card-cvc"
                                            type="tel"
                                            class="form-control"
                                            name="cardCVC"
                                            placeholder="CVC"
                                            autocomplete="cc-csc"
                                            required
                                    />-->
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div slot="header" class="row display-tr" >
                <h3 class="panel-title display-td" >Payment Details</h3>
                <div class="display-td" >
                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
            </div>

        </modal>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna lorem, gravida sit amet pharetra et, lobortis quis purus. Vivamus eu dui eget justo vulputate auctor. Donec pharetra ante mi, eu consectetur lectus viverra ut. Cras laoreet neque erat, ut tempus felis aliquet volutpat. Aenean posuere massa et tellus blandit, id finibus metus convallis. Praesent sed pellentesque augue. Maecenas vehicula mi lobortis sem auctor tempor sed et dolor. Aliquam sed consectetur lorem. Duis ut nunc a sapien faucibus egestas. Maecenas quam neque, condimentum eu tortor et, dapibus hendrerit eros. Aenean et nunc vel eros hendrerit dignissim. Aenean in vulputate diam. Sed at magna sollicitudin, pharetra libero vitae, tempor velit. Nullam ut tincidunt velit, sed posuere ligula. Ut faucibus, eros a venenatis blandit, urna enim accumsan urna, id dictum erat tellus a odio.
        </p>


        <section class="pricing-table">
            <div class="container">
                <!--<div class="block-heading">

                </div>-->
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="item">
                            <div class="heading">
                                <h3>BASIC</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Comments</span> : <span class="value">Up 20k</span></h4>
                                <h4><span class="feature">Check subscribed</span> : <span class="value"> + </span></h4>
                                <h4><span class="feature">Permanent link</span> : <span class="value"> - </span></h4>
                                <h4><span class="feature">Download comments</span> : <span class="value"> - </span></h4>
                            </div>
                            <div class="price">
                                <h4>$10</h4>
                            </div>
                            <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="item">
                            <div class="ribbon">Best Value</div>
                            <div class="heading">
                                <h3>PRO</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Comments</span> : <span class="value">Up 50k</span></h4>
                                <h4><span class="feature">Check subscribed</span> : <span class="value"> + </span></h4>
                                <h4><span class="feature">Permanent link</span> : <span class="value"> + </span></h4>
                                <h4><span class="feature">Download comments</span> : <span class="value"> - </span></h4>
                            </div>
                            <div class="price">
                                <h4>$20</h4>
                            </div>
                            <button class="btn btn-block btn-primary" type="submit">BUY NOW</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="item">
                            <div class="heading">
                                <h3>PREMIUM</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Comments</span> : <span class="value">Unlimited</span></h4>
                                <h4><span class="feature">Check subscribed</span> : <span class="value"> + </span></h4>
                                <h4><span class="feature">Permanent link</span> : <span class="value"> + </span></h4>
                                <h4><span class="feature">Download comments</span> : <span class="value"> + </span></h4>
                            </div>
                            <div class="price">
                                <h4>$40</h4>
                            </div>
                            <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <p>Praesent vulputate, tortor sed venenatis ultricies, leo justo posuere arcu, vel cursus sem libero et quam. Integer efficitur rutrum nibh in fringilla. Nullam egestas, leo sit amet efficitur posuere, elit erat dignissim est, et egestas ligula augue ut sapien. Suspendisse convallis lorem nulla, eget tincidunt nisl pharetra a. Quisque vel dui at eros dictum euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam feugiat eros at sapien iaculis mattis. Fusce et nunc eget risus luctus congue. Nunc congue vestibulum lectus, eget condimentum lectus dignissim at. Ut viverra consequat augue, quis mattis nibh molestie non. Morbi nec nisi sed felis bibendum vestibulum. Fusce tincidunt urna vel lectus ultricies, et sagittis dolor ullamcorper. Ut egestas faucibus erat non mattis. Nam iaculis ipsum eget gravida vehicula. Integer quis accumsan erat. Donec elementum urna ut placerat volutpat.</p>

        <p>Proin nec euismod felis. Nullam porta vel tortor at condimentum. Curabitur eget blandit nunc. Proin blandit magna et semper semper. Proin odio enim, suscipit vel metus in, dictum bibendum quam. Nam nulla lectus, tempus vitae sapien id, consectetur hendrerit arcu. Aenean eu lectus et elit tempor fermentum id eu mauris. Aliquam vitae orci augue. Etiam eu urna fermentum, eleifend ante ac, maximus sem. Donec nec massa elit.
        </p>
    </div>

        <!-- template for the modal component -->
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container col-6">

                            <div class="modal-header">
                                <slot name="header">

                                </slot>
                            </div>

                            <div class="modal-body">
                                <slot name="body">
                                    <!--<form class="uk-padding">
                                        <div class="uk-margin uk-text-center">
                                            <p class="stripeError" v-if="stripeError">
                                                ${stripeError}
                                            </p>
                                        </div>
                                        <div class="uk-margin uk-text-left">
                                            <label class="uk-form-label" for="Card Number">
                                                Card Number
                                            </label>
                                            <div class="uk-form-controls">
                                                <div id="card-number" class="uk-input" :class="{ 'uk-form-danger': cardNumberError }"></div>
                                                <span class="help-block" v-if="cardNumberError">
                        ${cardNumberError}
                    </span>
                                            </div>
                                        </div>
                                        <div class="uk-grid-small uk-text-left" uk-grid>
                                            <div class="uk-width-1-2@s">
                                                <label class="uk-form-label" for="Card CVC">
                                                    Card CVC
                                                </label>
                                                <div class="uk-form-controls">
                                                    <div id="card-cvc" class="uk-input" :class="{ 'uk-form-danger': cardCvcError }"></div>
                                                    <span class="help-block" v-if="cardCvcError">
                            ${cardCvcError}
                        </span>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-2@s">
                                                <label class="uk-form-label" for="Expiry Month">
                                                    Expiry
                                                </label>
                                                <div class="uk-form-controls">
                                                    <div id="card-expiry" class="uk-input" :class="{ 'uk-form-danger': cardExpiryError }"></div>
                                                    <span class="help-block" v-if="cardExpiryError">
                            ${cardExpiryError}
                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-margin uk-margin-remove-bottom uk-text-right">
                                            <button class="uk-button uk-button-small uk-button-default" @click.prevent="reset()">
                                                Reset
                                            </button>
                                            <button class="uk-button uk-button-small uk-button-primary" @click.prevent="submitFormToCreateToken()">
                                                <span v-if="loading">processing...</span>
                                                <span v-if="!loading">Donate $12.00</span>
                                            </button>
                                        </div>
                                    </form>-->
                                    <!-- CREDIT CARD FORM STARTS HERE -->

                                    <!-- CREDIT CARD FORM ENDS HERE -->
                                </slot>
                            </div>

                            <div class="modal-footer">
                                <slot name="footer">
                                    <button class="subscribe btn btn-success" @click="submitFormToCreateToken" type="button">Pay</button>
                                    <button class="subscribe btn btn-danger" @click="$emit('close')">Close</button>
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </script>

{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/build/billing.js"></script>
{%  endblock %}